language: node_js
node_js: '0.10'
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install bower jshint karma-cli --global --quiet
- npm install --quiet
- bower install
script:
- jshint . -e .json
- karma start --browsers=PhantomJS,Firefox
